#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.final-content  {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
  opacity: 0;
  font-family: "Lato-Thin";
  font-size: 5.2em;
  height: 100vh;
  width: 100vw;
  border: 2px red solid;
}

.new-content  {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
  opacity: 0;
  font-family: "Lato-Light";
  height: 100vh;
  width: 100vw;
  border: 2px red solid;
}

.page-content {
  position: absolute;
  Top: 0px;
  left: 0px;
  opacity: 0;
  font-family: "Lato-Thin";
  height: 100vh;
  width: 100vw;
  border: 2px rgb(0, 251, 255) solid;
}
.CcanvasDiv{
  opacity: 1;
  font-family: "Lato-Thin";
  height: 100vh;
  width: 100vw;
  border: 2px rgb(228, 228, 228) solid;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes old-content-fade {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
    
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
